* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html,body {
    margin: 0;
    padding: 0;
}

div {
    position: relative;
}

.canvas-container {
    margin-top: 80px;
}

.delete-obj-btn {
    position: absolute;
    display: none;
    padding-top: 3px;
    top: 200px;
    left: 200px;
    cursor: pointer;
    background: white;
    border-radius: 4px;
}

.delete-obj-btn img {
    width: 25px;
    height: 25px;
}