<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fabric JS</title>
    <link rel="stylesheet" href="/client/css/index.css">
</head>
<script type = 'text/javascript'>
    var baseUrl = '{{basrUrl}}';
</script>
<body>

    <div class = 'toolbar'>
        <button id = 'obj-count'>Get Objects</button>
        <button id = 'obj-delete'>Delete Objects</button>
        <button id = 'serialize-data'>Serialize</button>
        <button id = 'clone-obj'>Clone</button>
        <input id = 'canvas-zoom-value' type="text" value = '0.2'/>
    </div>
    <div class = 'canvas-container'>
        <canvas id = 'my-canvas'></canvas>
        <span class = 'delete-obj-btn'><img src = '/client/images/trash.png'/></span>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.7.22/fabric.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src = '/client/js/request.js'></script>
    <script src = '/client/js/helper.js'></script>
    <script src="/client/js/bundle.js"></script>
</body>
</html>