@import "primary-colors";
.theme-btn {
  border: 1px solid $kn-green;
  background-color: $kn-green;
  padding: 10px 15px;
  border-radius: 4px 4px;
  color: $light-text;
  &:hover {
    background-color: $kn-primary-color;
    color: $dark-text;
  }
}

.theme-btn--inverse {
  background-color: $kn-primary-color;
  color: $dark-text;
  &:hover {
    background-color: $kn-green;
    color: $light-text;
  }
}

.theme-btn--highlighted {
  background-color: $kn-highlighted;
  border: 1px solid $kn-highlighted;
  color: $light-text;
  &:hover {
    background: $kn-primary-color;
    color: $dark-text;
  }
}

.theme-btn--small {
  padding: 5px 10px;
  font-size: 14px;
}

.theme-btn--small-disabled{
    padding: 5px 10px;
    font-size: 14px;
    pointer-events: none;
    background: $kn-gray;
    color: #ccc;
    border: 1px solid #ccc;
}

.theme-btn--positive-green {
  background-color: $positive-green;
  border: 1px solid $positive-green;
  color: $light-text;
  &:hover {
    background: $kn-primary-color;
    color: $dark-text;
  }
}

.theme-btn--center {
  display: block;
  margin: 0 auto;
  padding: 5px 5px;
}

.theme-btn--extra-small {
  padding: 5px 8px;
  font-size: 14px;
}

.theme-btn--xxs {
  padding: 5px 12px;
  font-size: 12px;
}

.theme-btn--full-width {
  width: 100%;
}

.theme-btn {
  a {
    color: inherit;
    text-decoration: none;
  }
}

.theme-btn--danger {
  background-color: crimson;
  border: 1px solid crimson;
  color: $light-text;
  &:visited {
    background: $kn-primary-color;
    color: $dark-text;
  }
  &:hover {
    background: $kn-primary-color;
    color: $dark-text;
  }
  &:active {
    background: $kn-primary-color;
    color: $dark-text;
  }
}

.kn-danger {
  background: $negative-red;
  color: $light-text;
  border: 1px solid $negative-red;
}

.kn-green{
  background: $kn-green;
  color: $light-text;
  border: $kn-green;
}

.kn-highlighted {
  background: $positive-green;
  border: 1px solid $positive-green;
  color: $light-text;
}

a.kn-positive-green--disabled {
  pointer-events: none;
}

a.kn-highlighted--disabled {
  pointer-events: none;
  background: $kn-gray;
  color: #2d2d2d;
}

a.kn-disabled {
  pointer-events: none;
  background: $kn-gray;
  color: #ccc;
  border: 1px solid #ccc;
}

a.kn-danger--disabled {
  pointer-events: none;
  background: $kn-disabled--danger;
  border: 1px solid $kn-disabled--danger;
  color: $kn-disabled--danger--text;
}

button.kn-disabled {
  pointer-events: none;
  cursor: not-allowed;
}
