$kn-primary-color : #FFFFFF;
$kn-gray: #F4F4F4;
$kn-green: #9FBC59;
$kn-light-green: #C2D198;
$kn-highlighted: #178cc6;
$light-text: #FFF;
$dark-text: #1E1E1E;
$extra-dark-text: #000000;
$kn-disabled--highlighted: #1ba1e4;
$kn-disabled--highlighted--text : #bbe3f7;
$kn-disabled--danger: #eb2d53;
$kn-disabled--danger--text : #f8b9c6;
$positive-green: forestgreen;
$negative-red : crimson;
$black : #000000;
$white : #FFFFFF;
$theme-blue: #005a9b;
$positiveGreen : #00b300;
